<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptrprograms.androidautomessenger" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />


        <receiver android:name="com.ptrprograms.androidautomessenger.AutoMessageReadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ptrprograms.androidautomessenger.ACTION_MESSAGE_READ"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.ptrprograms.androidautomessenger.AutoMessageReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ptrprograms.androidautomessenger.ACTION_MESSAGE_REPLY"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
