<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptrprograms.endgamewatchface">
    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/watch_face_all" android:theme="@android:style/Theme.DeviceDefault">

        <service android:name=".WatchFace"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview" />

            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="com.sportslabs.watchface.CONFIG_BACKGROUND" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <activity
            android:name=".WatchFaceConfigActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.sportslabs.watchface.CONFIG_BACKGROUND" />
                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
